In [ ]:
import pandas 

# data = pandas.read_excel('currency_exchange_data.xlsx', sheet_name = 'Sheet1')
data = pandas.read_excel('currency_exchange_data.xlsx')
data

,Date,Currency,Exchange Rate
0,2024-05-01,US Dollar,0.006343074131188286
1,2024-05-01,Euro,0.005939370701741986
2,2024-05-01,British Pound,0.005079471188726964
3,2024-05-01,Indian Rupee,0.5293889204561103
4,2024-05-01,Australian Dollar,0.009768078728538975
...,...,...,...
985,2024-05-05,"<a href=""/currency/usd-us-dollar/"" class=""sc-7...",4.75%
986,2024-05-05,"<a href=""/currency/cad-canadian-dollar/"" class...",3.25%
987,2024-05-05,"<a href=""/currency/aud-australian-dollar/"" cla...",4.35%
988,2024-05-05,"<a href=""/currency/nzd-new-zealand-dollar/"" cl...",4.25%
989,2024-05-05,"<a href=""/currency/gbp-british-pound/"" class=""...",4.75%

In [6]:
# can set another column as index (or suppress the index column)
data = pandas.read_excel('currency_exchange_data.xlsx', index_col=0)

In [ ]:
# can select only columns A and B
data = pandas.read_excel('currency_exchange_data.xlsx', usecols='A,B')

In [3]:
# can ignore header
data = pandas.read_excel('currency_exchange_data.xlsx', header = None)

In [4]:
# can skip rows for example row 1
data = pandas.read_excel('currency_exchange_data.xlsx', skiprows = 1)

In [5]:
# Excel sheet information 
# Give 5 first lines
data.head()

   2024-05-01          US Dollar  0.006343074131188286
0  2024-05-01               Euro  0.005939370701741986
1  2024-05-01      British Pound  0.005079471188726964
2  2024-05-01       Indian Rupee    0.5293889204561103
3  2024-05-01  Australian Dollar  0.009768078728538975
4  2024-05-01    Canadian Dollar  0.008728848032792806

In [7]:
# Excel sheet information 
# Give 5 first lines
data.head()

                     Currency         Exchange Rate
Date
2024-05-01          US Dollar  0.006343074131188286
2024-05-01               Euro  0.005939370701741986
2024-05-01      British Pound  0.005079471188726964
2024-05-01       Indian Rupee    0.5293889204561103
2024-05-01  Australian Dollar  0.009768078728538975

In [8]:
# Excel sheet information 
# Give 10 first lines
data.head(10)

                     Currency         Exchange Rate
Date
2024-05-01          US Dollar  0.006343074131188286
2024-05-01               Euro  0.005939370701741986
2024-05-01      British Pound  0.005079471188726964
2024-05-01       Indian Rupee    0.5293889204561103
2024-05-01  Australian Dollar  0.009768078728538975
2024-05-01    Canadian Dollar  0.008728848032792806
2024-05-01   Singapore Dollar  0.008650100842669482
2024-05-01        Swiss Franc  0.005832257578802315
2024-05-01  Malaysian Ringgit  0.030241633633456177
2024-05-01       Japanese Yen                     1

In [ ]:
# for last 10 lines
data.tail(10)

                                                     Currency Exchange Rate
Date
2024-05-05  <a href="/currencycharts/?from=EUR&amp;to=JPY"...       160.400
2024-05-05  <a href="/currencycharts/?from=AUD&amp;to=USD"...      0.630397
2024-05-05  <a href="/currency/jpy-japanese-yen/" class="s...         0.25%
2024-05-05  <a href="/currency/chf-swiss-franc/" class="sc...         1.00%
2024-05-05  <a href="/currency/eur-euro/" class="sc-77d4b8...         3.25%
2024-05-05  <a href="/currency/usd-us-dollar/" class="sc-7...         4.75%
2024-05-05  <a href="/currency/cad-canadian-dollar/" class...         3.25%
2024-05-05  <a href="/currency/aud-australian-dollar/" cla...         4.35%
2024-05-05  <a href="/currency/nzd-new-zealand-dollar/" cl...         4.25%
2024-05-05  <a href="/currency/gbp-british-pound/" class="...         4.75%

In [ ]:
# For data info
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 990 entries, 2024-05-01 to 2024-05-05
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Currency       990 non-null    object
 1   Exchange Rate  990 non-null    object
dtypes: object(2)
memory usage: 55.5+ KB

In [ ]:
# dimension of data (x, y)
data.shape

(990, 2)

In [ ]:
# number of rows
rows = data.shape[0]
rows

In [15]:
# number of columns
columns  = data.shape[1]
columns

2

In [16]:
# data type
data.dtypes

Currency         object
Exchange Rate    object
dtype: object

In [17]:
# columns names
data.columns

Index(['Currency', 'Exchange Rate'], dtype='object')

In [20]:
# check a specific column
data['Currency']

Date
2024-05-01                                            US Dollar
2024-05-01                                                 Euro
2024-05-01                                        British Pound
2024-05-01                                         Indian Rupee
2024-05-01                                    Australian Dollar
                                    ...
2024-05-05    <a href="/currency/usd-us-dollar/" class="sc-7...
2024-05-05    <a href="/currency/cad-canadian-dollar/" class...
2024-05-05    <a href="/currency/aud-australian-dollar/" cla...
2024-05-05    <a href="/currency/nzd-new-zealand-dollar/" cl...
2024-05-05    <a href="/currency/gbp-british-pound/" class="...
Name: Currency, Length: 990, dtype: object